.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  border: none;
  transition: all ease-in-out 0.3s;
  text-align: center;
  &:hover {
    background: rgba(0, 0, 0, 0.5);
  }
}

.btn-primary {
  text-decoration: none;
  min-height: 4.3rem;
  color: #fff;
  border: 0.1rem solid #fff;
  background-color: transparent;
  padding: 1rem 2.5rem;
  &:hover {
    background-color: white;
    color: black;
  }

  &.outline {
    background-color: transparent;
    color: $primary-color;

    &:hover {
      background-color: $primary-color;
      color: $white;
    }
  }
}

.btn-secondary {
  background: $grey-dark;
  border: 1px solid $grey-dark;
  color: #fff;

  &:hover {
    background: #000;
    border-color: #000;
  }

  &.outline {
    background-color: transparent;
    color: $grey-dark;

    &:hover {
      background-color: $grey-dark;
      color: #fff;
    }
  }
}

.btn-submit {
  &:disabled {
    border-color: $grey-light2;
    background-color: $grey-light2;
    opacity: 0.5;
    cursor: not-allowed;
  }
}
