@import "./variables";
@import "./mixins";
@import "./grid";
@import "./flex";
@import "./utils";
@import "./typography";
@import "./buttons";
@import "./global";
@import "./forms";

.contentblock {
  min-height: 20rem;
  &.header {
    min-height: 100vh;
    background-size: cover;
    .inner {
      min-height: 100vh;
    }
  }
}
