@import "./variables";
@import "./mixins";
@import "./grid";
@import "./flex";
@import "./utils";
@import "./typography";
@import "./buttons";
@import "./global";
@import "./forms";

.contentblock {
  margin-bottom: 5rem;
  min-height: 20rem;
  &.header {
    margin-top: -10rem;
    min-height: 100vh;
    background-size: cover;
    .inner {
      min-height: 100vh;
    }
  }
}

.titel-label {
  font-size: small;
  margin: 1rem;
  margin-bottom: 2rem;
  padding: 1rem 2.5rem;
  font-family: Inconsolata, monospace;
}
.btn {
  font-family: monospace;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.75s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(5rem);
}

.row-enter-active {
  transition: all .5s linear;
  transition-delay: .5s;
}
.row-enter-from {
  opacity: 0;
  transform: translateX(5em);
}
.row-leave-active {
  transition: all .5s linear;
}
.row-leave-to {
  opacity: 0;
  transform: translateX(-5em);
}
