@import "./variables";
@import "./mixins";
@import "./grid";
@import "./flex";
@import "./utils";
@import "./typography";
@import "./buttons";
@import "./global";
@import "./forms";

.contentblock {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.titel-label {
  font-size: small;
  margin: 1rem;
  margin-bottom: 2rem;
  padding: 1rem 2.5rem;
  font-family: Inconsolata, monospace;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.75s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(5rem);
}