:root {
  --color-indigo: #001524;
  --color-indigo-light: #003357;

  --color-ocean: #15616d;
  --color-ocean-light: #1d8798;

  --color-beige: #ffecd1;

  --color-orange-dark: #e76f51;
  --color-orange: #f4a261;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--color-indigo);
  --color-background-soft: var(--color-indigo-light);

  --color-heading: var(--color-orange);
  --color-text: var(--color-beige);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background-soft);
  font-family: Poppins, Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  color: var(--color-heading);
}

a {
  color: inherit;
}

.default-button {
  background: var(--color-indigo-light);
  font-family: Poppins, Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color: var(--color-beige);
  border: none;
  padding: 8px 12px;
  transition: .3s;
}

.default-button:hover {
  cursor: pointer;
  background-color: var(--color-ocean);
}

.default-button:disabled {
  opacity: .2;
}

@keyframes spinPulse {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}