@import './base.css';

:root {
--menu-width: 6rem;
}

body {
  display: grid;
  grid: 1fr / 1fr;
  align-items: stretch;
}

#app {
  height: auto;
  display: grid;
  grid: auto-flow / 75px 1fr;
  column-gap: 1rem;
}

nav {
  max-height: 100vh;
  position: sticky;
  top: 0;
  grid-area: 1 / 1 / last-line / 2;
  background-color: var(--color-background-soft);
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  text-align: right;
  justify-content: end;
}

nav a {
  margin-bottom: 1rem;
  padding: 15%;
}

nav a svg {
  width: 70%;
}

nav a svg path {
  fill: var(--color-beige);
}

nav a:hover {
  background-color: var(--color-indigo);
}

nav a:hover svg path {
  fill: var(--color-orange);
}

main{
  grid-area: 1 / 2 / last-line / last-line;
  display: grid;
  align-items: center;
  justify-content: center;
}