.router-enter-active,
.router-leave-active {
    transition: all .5s ease-in-out;
}

.router-enter-from {
    transform: scale(.1) translate(30vw, 30vh);
}

.router-leave-to {
    transform: scale(.1) translate(-30vw, -30vh);
    opacity: 0;
}


.picture-enter-active {
    transition: all .25s linear;
}

.picture-enter-from {
    transform: scale(.6);
    opacity: 0;
}

.modal-enter-active,
.modal-leave-active {
    transition: all .2s ease;
}

.modal-enter-from {
    opacity: 0;
}

.modal-leave-to {
    opacity: 0;
}